@import "pygment.css";

body {
    font-family : "Source Serif Pro", serif;
    font-size : 1.3em ;
    background-color : hsl(216, 43.5%, 9%) ;
    color : hsl(60,73.3%,94.1%) ;
    border : thin solid gray ;
    border-radius : 5px ;
    display : block ;
    line-height: 1.55;
    font-weight: normal;
    padding: 0em 0.25em;
}

a:link    { color :  hsl(308, 100%, 83%) ; text-decoration : none ;      }
a:hover   { color : hsl(308,100%,83%) ; text-decoration : underline ; }
a:visited { color : rgb(219, 168, 255) ;                               }

/* preserve original color on big links */
h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

/* Code blocks? */
pre {
    background-color:hsl(217, 23%, 11%) ;
    padding: 1em 0.24em;
    border: thin solid hsl(47,100%,83.7%);
    overflow-x: scroll;
}

/* Back to normal blog stuff */
article blockquote {
    margin: auto 0.25em;
    padding: 0em 0.5em;
    border-left: 0.3em solid hsl(47,100%,83.7%);
}

article > p {
    padding: 0.5em;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
    list-style-type: none;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: thin solid hsl(47,100%,83.7%);
}
.navbar {
    border-bottom: 0.1em solid ;
}
.navbar > span {
    margin: 1em;
}
.site-title {
    margin: 0em;
}
.entry-title {
    margin-top: 0.5em;
    margin-bottom: 0em;
}
.entry-content > p {
    margin-top: 0em;
}

footer.post-info {
    font-size: 0.9em;
}

.footnote p {
    font-size : 0.9em ;
    padding : 0em ;
    padding-left: 0.5em;
    line-height: 1.3;

}

/* Extra small devices (phones, 600px and down) */
 /* this is the default assumption, because we want phones
    to do the least amount of work, roughly correlating between
    device size and processing power */
 /* @media only screen and (max-width: 600px) {...} */

 /* Small devices (portrait tablets and large phones, 600px and up) */
 /*@media only screen and (min-width: 600px) {...} */
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    body {
        width : 70% ;
        padding : 1em;
        margin : 2% auto;
    }

    pre {
        margin : 1em ;
        padding: 0.5em;
    }

    article blockquote {
        margin: auto 2em;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {...} */
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {...}  */
