{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<p>
    Hi hello hey!
</p>
<p>
    This is where I write about stuff to put on the Internet. Mostly because you gotta have an online presence in this day and age.
</p>
<p>
    But, it's my website, my rules, and I'll write from a world where computers aren't slowly nibbling at all our collective sanity. Ain't nothin' here that's profitable or will answer to a shareholder. Just some goofy projects from a kinder world, suspended in sunlight.
</p>
<h2>Posts</h2>
{% endblock %}
<ul id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    {% if article.authors %}<address class="vcard author">By
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>{% endif %}
                    {% if not category or article.category != category %}
                    <div>
                        In: <a class="url fn" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                    </div>
                    {% endif %}
                    {% if article.tags %}
                    <div>Tags:   
                    {% for tag in article.tags %}
                        <a class="url fn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{{ ", " if not loop.last else "" }}
                    {% endfor %}
                    </div>{% endif %}
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}